@tailwind base;
@tailwind components;
@tailwind utilities;

/* اختياري لو حابب تضيف شوية تحسينات بسيطة */
body {
  @apply bg-[#0a0a0f] text-white font-sans;
}
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientMove 6s ease infinite;
}
html {
  scroll-behavior: smooth;
}
